# BEAN Brain 0.2 environment file
# Copy to /etc/bean/bean.env on the Jetson.

BEAN_HOME=/home/bean/BEAN
BEAN_DATA_DIR=/home/bean/bean_data
BEAN_LOG_DIR=/home/bean/bean_logs
BEAN_DB_PATH=/home/bean/bean_data/bean_memory.db
BEAN_INBOX_DIR=/home/bean/bean_data/inbox
BEAN_TICK_HZ=1.0
PYTHONUNBUFFERED=1
